    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Descarga resetas de TuCaffe</h2>
                    <p>sigue la  liga para mas recetas </p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">RECETAS</a>
                </div>
            </div>
        </div>
    </section>