    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">TuCaffe</h1>
                        <p class="intro-text">  El <a href="https://es.wikipedia.org/wiki/Caf%C3%A9">café</a>  es la bebida que se obtiene a partir de las semillas tostadas y molidas de los frutos de la planta del café. Es una bebida altamente estimulante por su contenido de cafeína. Suele tomarse durante el desayuno, después de éste o incluso como único desayuno, aunque también se acostumbra tomarlo después de las comidas o cenas para charlar o sólo por costumbre. Es una de las bebidas sin alcohol más socializadoras en muchos países.<br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
